//colors

$white: #fff;
$black: #000;

// Background color for `<body>`
$body-background: #fff;
// Base background color for most components
$component-background: #fff;

// Shadow
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-color-inverse: $component-background;
$shadow-1-up: 0 -2px 8px $shadow-color;
$shadow-1-down: 0 2px 8px $shadow-color;
$box-shadow-base: $shadow-1-down;
$shadow-1-left: -2px 0 8px $shadow-color;
$shadow-1-right: 2px 0 8px $shadow-color;
$shadow-2: 0 4px 12px $shadow-color;
$text-color: fade($black, 65%);
$text-color-secondary: fade($black, 45%);
$text-color-inverse: $white;
